.page-bar {
    background-color: #fff;
    border-bottom: 1px solid #e7ecf1; 
    margin: 0;
    padding: 0;    
    padding: 12px 20px;
}

.page-breadcrumb {
    list-style: none;
    display: inline-block;    
    margin: 0;
    padding: 0;
    color: #888;
}

.page-breadcrumb li {
    display: inline-block;
}

.page-breadcrumb a {
    color: #888;
}

.page-breadcrumb i {
    font-size: 5px;
    margin-left: 6px;
    vertical-align: middle;
    color: #dfdfdf;
}

.page-breadcrumb span {
    margin-left: 6px;
}