@font-face {
    font-family: "Arista 2.0 Alternate Light";
    src: url("../../fonts/Arista2_0_Alternate_light.woff");
}

body {
    display: flex;
    flex-direction: column;
    /*height: 100vh;*/
    margin:0;
    padding:0;
}
   
footer, header {
    flex-shrink: 0;
    width: 100%;
}

header {
    background-color: #323435;
    border-top: 1px solid #19578a;
    border-bottom: 2px solid #fc8f01;
    color: #ffff;
    padding: 5px 0 6px 16px;
    position: fixed;
    z-index: 10;
}

footer {
    height: 60px;
    color: #fff;
    background-color: #323435;
    font-size: 13px;
    padding: 8px 20px 5px 20px;
    color: rgb(255, 255, 255);
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 10;
}

.toggler {
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;    
    margin-right: 10px;
}

.toggler > div {
    width: 19px;
    height: 1px;
    background-color: rgb(219, 213, 209);
    margin: 5px 0;
    transition: all 0.2s linear;
}

.toggler:hover > div {
    background-color: #F78E1E; /*cor dos 03 risquinhos ao lado da ceocp*/
}

.titulo-header-cinza {
    font-family: "Arista 2.0 Alternate Light";
    vertical-align: middle;
    color: rgb(219, 213, 209);
    font-size: 31px;
    
}

.titulo-header-laranja {
    font-family: "Arista 2.0 Alternate Light";
    vertical-align: middle;
    color: #F78E1E;
    font-size: 31px;
    margin: 0;
    padding:0;
}

.conteudo {
    margin-top: 57px;
    margin-left: 280px;
    margin-bottom: 33px;
}

.conteudo-wrapper {
    padding: 25px 5px 10px 5px;  
}

/************ TOGGLE MENU ************/

.toggle-menu {
    background-color: #323435;
    color: #fff;
    width: 280px;
    position: fixed;
    margin-top: 56px;
    height: 100%;
    z-index: 9;
}

.menu-filter {
    margin: 10px;    
}

.menu-filter .group {
    display: table;
    width: 100%;
    font-size: 13px;
    color: #fff;
    border: 1px solid #f1a16c; /* cor da borda do procurar*/
    border-radius: 3px;
}

.menu-filter .group input {
    display: table-cell;
    background-color: #fff;
    color: rgb(10, 10, 10); 
    border-radius: 3px;
    border: 0;   
    padding: 6px 8px;
    vertical-align: middle;
}

.menu-filter .group span {
    display: table-cell;
    font-size: 15px;
    vertical-align: middle;
    padding: 4px 3px 0;
    cursor: pointer;
    box-sizing: border-box;
}

.menu-filter input, 
.menu-filter .input-group-addon
{
    background-color: #1e2123;
    color: #fff;
}

.menu-filter input {
    border: 1px solid #f1a16c;
    border-right: 0;
    width: 100%;
} 

.menu-filter input::placeholder {
    color: #cc8144;
    font-size: 13px;
}

.menu-filter input::-webkit-input-placeholder {
    color: #fff;
    font-size: 13px;
}

.menu-filter input:-ms-input-placeholder {
    color: #fff;
    font-size: 13px;
}

.menu-filter input::-moz-placeholder {
    color: #fff;
    font-size: 13px;
}

.menu-filter input:-moz-placeholder {
    color: #fff;
    font-size: 13px;
}

.menu-filter .input-group-addon {
    border: 1px solid #f1a16c;
    border-left: 0;    
}

#filtrarMenu {
    font-size: 15px;
}

.toggle-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.toggle-menu ul li a {
    color: #ffffff;
    display: block;
    width: 100%;
     border-top: 1px solid #f1a16c; /*cores das linhas */
    font-size: 14px;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.2s linear;
}

.toggle-menu ul li.selecionado a,
.toggle-menu ul li a:hover,
.toggle-menu ul li a:active
{
    background-color: #e9810c; /* cor do mouse */
}

.toggle-menu ul li a i {
    text-shadow: none;
    text-align: center;
    font-size: 16px;
    width: 1.25em;
    margin-right: 9px;
    color: #f17909;
}

.toggle-menu ul li.selecionado a i,
.toggle-menu ul li a:hover i,
.toggle-menu ul li a:active i
{
    color: #fff;
}

.toggle-menu ul li ul {
    display: none;
}

.toggle-menu ul li ul li a {
    border-top: none;
    background-color: rgb(74, 73, 72);
    padding-left: 30px;
}

/** TOGGLE MENU - COMPORTAMENTO FECHADO **/

body.toggle-menu-toggled .toggle-menu{
    width: 45px;
}

body.toggle-menu-toggled .toggle-menu .menu-filter-fechado {
    display: block;
}

body.toggle-menu-toggled .toggle-menu .menu-filter { 
    display: none;
}

body.toggle-menu-toggled .toggle-menu ul li a {
    color: #fff;
    display: block;
    width: 100%;
    border-top: 1px solid #f1a16c; /*cor da linha menu fechado*/
    font-size: 14px;
    padding: 10px 0 10px 6px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s linear;
}

body.toggle-menu-toggled .toggle-menu ul li a span {
    display: none;
}

body.toggle-menu-toggled .toggle-menu ul li a i.pull-right {
    display: none;
}

.menu-filter-fechado {
    display: none;
    font-size: 15px;
    padding: 19px 0 14px 10px;
    color: #f17909; /*cor da lupa com o menu fechado*/
}

body.toggle-menu-toggled .conteudo {
    margin-left: 45px;
}

/** TOGGLE MENU - COMPORTAMENTO FECHADO E MOUSE POR CIMA **/

body.toggle-menu-toggled .toggle-menu:hover{
    width: 280px;
}

body.toggle-menu-toggled .toggle-menu:hover .menu-filter-fechado {
    display: none;
}

body.toggle-menu-toggled .toggle-menu:hover .menu-filter { 
    display: block;
}

body.toggle-menu-toggled .toggle-menu:hover ul li a {
    padding: 10px 15px;
    transition: background-color 0.2s linear;
    text-align: left;
}

body.toggle-menu-toggled .toggle-menu:hover ul li ul li a {
    border-top: none;
    background-color: rgb(74, 73, 72);
    padding-left: 30px;
}

body.toggle-menu-toggled .toggle-menu:hover ul li a span {
    display: inline;
}

body.toggle-menu-toggled .toggle-menu:hover ul li a i.pull-right {
    display: inline;
}

.portlet {
    border-radius: 4px;
    margin-bottom: 25px;
    margin-top: 0;
    background-color: #e9810c;
    padding: 12px 20px 15px;
    border: 1px solid #e7ecf1;
}

.portlet-title {
    border-radius: 4px 4px 0 0;
    margin-bottom: 10px;
    color: #fff ;
    padding: 10px 0;
    font-size: 16px;
    border-bottom: 1px solid #eef1f5;
}

.portlet-body {
    overflow: auto;
}

/** TOGGLE MENU - COMPORTAMENTO TELAS MENORES **/

@media screen and (max-width: 980px) {

    .toggle-menu,
    body.toggle-menu-toggled .toggle-menu 
    {
        display: block;
        width: 100%;
        position: fixed;
        height: auto;
    }

    .toggle-menu {
        top: -1000px;
        transition: top 0.2s linear;
    }

    body.toggle-menu-toggled .toggle-menu{
        top: 0px;
    }

    body.toggle-menu-toggled .toggle-menu ul li a {
        padding: 10px 15px;
        transition: background-color 0.2s linear;
        text-align: left;
    }
    body.toggle-menu-toggled .toggle-menu ul li a span {
        display: inline;
    }

    body.toggle-menu-toggled .toggle-menu .menu-filter-fechado {
        display: none;
    }

    body.toggle-menu-toggled .toggle-menu .menu-filter { 
        display: block;
    }

    body.toggle-menu-toggled .toggle-menu ul li a i.pull-right {
        display: inline;
    }

    /** HOVER **/

    body.toggle-menu-toggled .toggle-menu:hover{
        width: 100%;
    }

    body.toggle-menu-toggled .toggle-menu:hover .menu-filter-fechado {
        display: none;
    }

    body.toggle-menu-toggled .toggle-menu:hover .menu-filter { 
        display: block;
    }

    body.toggle-menu-toggled .toggle-menu:hover ul li a span {
        display: inline;
    }

    .conteudo, body.toggle-menu-toggled .conteudo {
        margin-left: 0px;
    }

    footer small{
        display: none;
    }

}

/** FIM DO TOGGLE MENU **/